* {
    font-family: 'Poppins', sans-serif;
}

.dark-layout {
    background-color: #161d31;
}

.dark-layout .card {
    background-color: #283046;
}

.table-row {
    cursor: pointer;
}

#civilizations {
    font-size: 13px;
}